[submodule "Training/AlphaStar-GoldBooster"]
	path = Training/AlphaStar-GoldBooster
	url = https://github.com/asubramanian08/AlphaStar-GoldBooster
[submodule "Training/StarLeague-Part1"]
	path = Training/StarLeague-Part1
	url = https://github.com/asubramanian08/StarLeague-Part1
[submodule "Training/StarLeague-Part2"]
	path = Training/StarLeague-Part2
	url = https://github.com/asubramanian08/StarLeague-Part2
[submodule "Training/AlphaStar-PlatinumA"]
	path = Training/AlphaStar-PlatinumA
	url = https://github.com/asubramanian08/AlphaStar-PlatinumA.git
